*{
    margin: 0;
    font-size: 16px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', serif;
    overflow-x: hidden;
}
.main{
    display: grid;
    height: auto;
    width: 1300px;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 100px;
}

.balance-widget,
.transactions,
.recurringTransactions{
    border: 1px solid;
    border-radius: 2rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.274);
}

/* balance widget*/
.balance-widget{
    grid-column: span 2;
    grid-row: span 1;
    height: 560px;
    justify-self: center;
    width: 1000px;
    display: grid;
    padding: 0;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    border: 1px solid whitesmoke;
}
.balance {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
}
.balance h2{
    align-self: left;
    justify-self: flex-start;
    font-size: 3rem;
    padding-left: 2rem;
    margin-top: 2rem;
    letter-spacing: 0.08rem;
    width: 100%;
    margin: 0px auto;
    color: whitesmoke;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.356),
      3px 3px 0px rgba(9, 8, 10, 0.438),
      6px 6px 0px rgba(197, 126, 255, 0.26);
}

.balance p {
    font-size: 7rem;
    font-weight: 600;
    align-self: center;
    margin-top: 1rem;
    padding-left: 2rem;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.356),
    3px 3px 0px rgba(9, 8, 10, 0.438),
    6px 6px 0px rgba(197, 126, 255, 0.26);
}
.monthstats{
    grid-row: span 3;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.356),
    3px 3px 0px rgba(23, 23, 24, 0.171),
    6px 6px 0px rgba(0, 0, 0, 0.123);
    border-radius: 2rem;
    flex-direction: column;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 17, 84);
        --mask:
          radial-gradient(140.16px at 50% 180.00px,#000 99%,#0000 101%) calc(50% - 120px) 0/240px 100%,
          radial-gradient(140.16px at 50% -130px,#0000 99%,#000 101%) 50% 60px/240px 100% repeat-x;
        -webkit-mask: var(--mask);
                mask: var(--mask);
}
.allcurrencies{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.monthstats p{
    font-size: 4rem;

}
.monthstats h2{
    font-size: 3rem;
    
}

.thisDate{
    flex-direction: column;
    display: flex;
    margin-top: 5rem;
}
.income{
    margin-top: 2rem;
    padding: 0 2rem;

    height: 100px;
    border-right: 1px solid rgba(128, 128, 128, 0.349);
}
.income .total{
    align-self: flex-end;
}
.arrows{
    font-size: 4rem;
    font-weight: bold;
    margin-right: 2rem;
}
.lastchild{
    border-right: 0;
}
/* transactions widget*/
.transactions{
    grid-column: span 1;
    grid-row: span 2;
    width: 500px;
    height: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: center;
}

.transactions h2{
    font-size: 3rem;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.356),
    3px 3px 0px rgba(9, 8, 10, 0.438),
    6px 6px 0px rgba(197, 126, 255, 0.26);
}

.recurringTransactions{
    grid-column: 1;
    grid-row: span 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 585px;
}

.recurringTransactions h2{
    font-size: 3rem;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.356),
    3px 3px 0px rgba(9, 8, 10, 0.438),
    6px 6px 0px rgba(197, 126, 255, 0.26);
}
.list{
    background-color: #331154;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 1rem;
    padding: 0.5rem;
    overflow-y: scroll;
}

.list::-webkit-scrollbar{
    width: 10px;
}

.list::-webkit-scrollbar-track{
    background: transparent;
}
.list::-webkit-scrollbar-thumb{
    background: rgb(245, 245, 245);
    border-radius: 2rem;
}

.expenses{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.expenses .button{
    display:none;
    width: 0%;
    font-size: 3rem;
    background-color: rgb(235, 74, 74);
    color: black;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    transition: width 2s;
}
.item{
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
}

.item .transaction-title{
    font-size: 1.5rem;
    margin-bottom: 0.35rem;
}
.item .transaction-description{
    font-style: italic;
    font-size: 1.15rem;
}
.item .transaction-ammount{
    align-self: flex-end;
    height: 100%;
    font-size: 1.75rem;
    margin: -10px 0.35rem;
    padding: 0 1.25rem;
}

.rightArrowButton{
    display: none;
    width: 0%;
    font-size: 2.5rem;
    background-color: rgb(100, 255, 100);
    color: black;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

.upArrowButton{
    display: none;
    width: 0%;
    font-size: 2.5rem;
    background-color: rgb(100, 255, 100);
    color: black;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

.deleteButton {
    display:none;
    width: 0%;
    font-size: 3rem;
    background-color: rgb(235, 74, 74);
    color: black;
}

.expenses:hover .deleteButton, .expenses:hover .rightArrowButton{
    display: block;
    width: 15%;
    
}
.expenses:hover .button{
    display: block;
    width: 15%;
}

.expenses:hover .item {
    width: 85%;
}


/* stats widget*/




/* addmoney widget  */
#addTransaction{
    grid-row: span 1;
    grid-column: span 1;
    height: 580px;
    justify-self: center;
    display: block;
}

#button-36 {
    display: none;
  }
@media (max-width:1123px) {
    nav{
        width: 100%;
    }
    main{
        width: 100%;
    }
    .main{
        width: 95%;
        justify-items: center;
        grid-template-columns: 1fr;
    }
    .balance{
        grid-row: span 2;
    }   
    .monthstats{
        grid-row: span 3;
    }
    .income{
        height: 50px;
    }
    .balance-widget {
        grid-row: span 1;
        grid-column: span 1;
        width: 100%;
        height: 470px;
        border: 1px solid whitesmoke;
    }
    .balance h2{
        padding-left: 1rem;
        font-size: 2rem;
    }
    .balance p{
        font-size: 4rem;
    }
    .thisDate h2{
        font-size: 2rem;
    }
    .lastchild{
        border-bottom: 0;
    }
    .income p{
        font-size: 2rem;
       
    }
    .arrows{
        font-size: 2rem;
    }
    .transactions {
        grid-column: 1;
        grid-row: 2;
        height: 400px;
        width: 88%;
    }
    .transactions h2{
        font-size: 2rem;
        padding: 0;
    }
    .recurringTransactions{
        grid-column: 1;
        grid-row: 3;
        height: 400px;
        width: 88%;
    }
    .recurringTransactions h2{
        font-size: 2rem;
        padding: 0;
    }
    #addTransaction{
        display: none;
        position: fixed;
        width: 95%;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #00000085;
        backdrop-filter: brightness(60%);
        -webkit-backdrop-filter: brightness(60%);
    }
    .expenses:hover .rightArrowButton{
        display: none;
        width: 0%;
    }
    .expenses:hover .deleteButton, .expenses:hover .upArrowButton{
        display: block;
        width: 10%;
    }
    .expenses:hover .button{
        display: block;
        width: 10%;
    }
    .expenses:hover .item {
        width: 90%;
    }

    #button-36 {
    display: flex;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 100%;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    height: 70px;
    width: 70px;
    text-align: center;
    padding: 0;
    text-align: center;
    justify-content: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    position: fixed;
    right: 1%;
    bottom: 1%;
    font-size: 3rem;
    z-index: 9999;
    }

    #button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .5s;
}


}
@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}
@media (max-width: 920px) {
    .item{
        height: 75px;
    }
    .item .transaction-title{
        font-size: 1.25rem;
        margin-bottom: 0.35rem;
    }
    .item .transaction-description{
        font-style: italic;
        font-size: 1rem;
    }
    .item .transaction-ammount{
        align-self: flex-end;
        height: 100%;
        font-size: 1.5rem;
        margin: -15px 0.35rem;
        padding: 0 1rem;
    }
    .expenses:hover .deleteButton, .expenses:hover .upArrowButton{
        display: block;
        width: 12%;
    }
    .expenses:hover .button{
        display: block;
        width: 12%;
    }
    .expenses:hover .item {
        width: 88%;
    }    
    .transactions h2{
        font-size: 1.75rem;
    }
    .recurringTransactions h2{
        font-size: 1.5rem;
    }
}

@media (max-width: 700px) {
    .expenses:hover .deleteButton, .expenses:hover .upArrowButton{
        display: block;
        width: 15%;
    }
    .expenses:hover .button{
        display: block;
        width: 15%;
    }
    .expenses:hover .item {
        width: 85%;
    }
}
@media (max-width: 580px) {
    .allcurrencies{
        flex-direction: column;
    }
    .income {
        margin-top: 0rem;
        height: 40px;
        border-right: 0;
        padding: 1rem;
        border-bottom: 1px solid rgba(128, 128, 128, 0.349);
    }
    .balance{
        grid-row: span 1;
    }   
    .monthstats{
        grid-row: span 4;
    }
}

@media (max-width:520px) {

    .expenses:hover .deleteButton, .expenses:hover .upArrowButton{
        display: block;
        width: 20%;
    }
    .expenses:hover .button{
        display: block;
        width: 20%;
    }
    .expenses:hover .item {
        width: 80%;
    }
}

@media (max-width:380px) {

    .expenses:hover .deleteButton, .expenses:hover .upArrowButton{
        display: block;
        width: 25%;
    }
    .expenses:hover .button{
        display: block;
        width: 25%;
    }
    .expenses:hover .item {
        width: 75%;
    }
    .expenses:hover .item .dayTransaction{
        display: none;
    }
}